.pill {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 9999px;
    font-size: 12px;
    font-weight: 500;
    color: white;
}

.pill-green {
    background: #22c55e;
}

.pill-red {
    background: #ef4444;
}

.pill-yellow {
    background: #f59e0b;
    color: black;
}

.pill-blue {
    background: #3b82f6;
}

/*{
    field: "INDICE",
    flex: 1,
    cellRenderer: params => {
        if (String(params.value).trim() === "aaaRentaEncasillamiento_PK") {
            return `<span class="pill">${params.value}</span>`;
        }
        return params.value;
    }
}*/